.zig-cache
zig-out
m.zig
fpm.txt
core/t.zig
web/target
*.snap
snap.py
t
apt-repo
include/common.h
pkg
manifests
MufiZ.json
grammar.y
update_apt.sh
__pycache__
ctests/hashdict.c

dist/
Gemfile
Gemfile.lock
